<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <head>
    <title>Content page 1</title>
  
  </head>
  <body>
  <section layout:fragment="content">



<div class="container">
 <div class="row">
 <div class="col-lg-8  well-lg">
   <div class="mission-header orange text-center">
    <h3>To promote global understanding among nations through scholastic expression.</h3>
   </div>
   
    <br></br>
   
   <div> 
   	<p> Founded in 2014 by Everett Robinson and Oriane Rosenthal, Works Beyond promotes
      the sharing of ideas among underrepresented Nations around the world.This is accomplished through
     proiding translation services to those we serve.</p>
     
     <p> (company name) translation services focus on the sharing of critical publications amongst the scholars around the world. We understand 
       that there is an apparent lack of equal representation among non-english written publications within the science community.
       Our goal is to provide the tools necessary to break language barriers, and 
       promote understanding among nations.</p>
   </div>
  </div> <!--end of paragraph div-->
   
 <div class="col-lg-4 well text-center">
   picture goes here
  </div>
 </div>
  <hr> </hr>
  
    <div class="container">
  	<div class="row text-center">
      <h3>The Founders </h3>
    </div> <!--end of row-->
    
    <br></br>
    
    <div class="row text-center">
    	<div class="col-lg-6">
         
         Insert Oriane's picture here
          <br></br>
          <div class="orange">
          <h4>Oriane Rosenthal</h4>
          </div>
           President,Works Beyond<br></br>
          <br></br>
          <p>Oriane Rosenthal is a 23 year old French­-American raised in San Francisco, California.

She received her B.A. degree with an International Development Studies major and an

Art History minor from McGill University in Montreal, Canada. After college, she joined the

Peace Corps and spent two years in Guyana, South America. In Guyana, she worked as

an elementary school literacy teacher in a small community. Her side projects included a

number of youth camps and HIV/AIDS awareness activities with the help of local

organizations. Shortly after her stay in Guyana, Oriane married her Peace Corps 
companion Everett Robinson (Robbie). Her passion for international work combined with a passion for languages

has motivated her to use language as a tool for change and advancement. She is

currently studying for her M.B.A. to become a conference interpreter in Paris, France.</p>
			<br></br>
          <br></br>
    	
          To contact Oriane Rosenthal, Please email: email address goes here
          </div>
   <div class="col-lg-6">
         
         Insert Everett's picture here
          <br></br>
          <div class="orange">
          <h4>Everett Robinson Jr.</h4>
          </div>
           President,Works Beyond
           <br></br>
          <br></br>
          <p>Everett Robinson Jr. is a 26 year old, raised in Charleston, South Carolina.
          Much of Everett's college life was spent working for the Children's Defense Fund as a 
          Ella Baker Trainer and Servant Leader Intern. He received his B.S. degrees in Computer 
          Science, and in Mathematics from Francis Marion University in Florence, South Carolina. 
          Shortly after graduation, Everett joined the Peace Corps. His two year dedication was spent 
          in Guyana, South America where he worked as the Information Technology Officer. While serving 
          in Guyana, Everett focused on PC repair, teacher training, and database management. His love for people, 
          coupled with his passion to change the world motivated Everett to join forces with Oriane.On May 28th
          , 2014, Everett married his long-time Peace Corps companion Oriane Rosenthal. Everett is currently 
          working as a Software Engineer, while pursuing a 
          freelance career as a web application developer. </p>
          <br></br>
    	  <br></br>
          To contact Everett Robinson Jr., Please email: email address goes here
    
    </div><!--end of row-->
 </div><!--end of container-->
</div>
 
 
 
 
 
 
 
 
 
 
 
 </div>

</section>

   
   
  </body>
</html>










